/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --dark: #4a286d;
}

/* Layout */
.container {
  padding: 1.6rem;
  padding-inline: 3.2rem;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.jst-even {
  justify-content: space-evenly;
}

.jst-sb {
  justify-content: space-between;
}

.jst-center {
  justify-content: center;
}

.gap-sm {
  gap: 0.6rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 1.6rem;
}

.align-center {
  align-items: center;
}

.input {
  padding: 1.6rem;
}

/* Color  */
/* 
body {
  background-color: #cdc4d7;
} */


/* Typography */

.text-md {
  font-size: 1.6rem;
}

.text-bold {
  font-weight: 700;
}

.page-link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark)
}

/* Buttons */
.btn {
  padding: 1.6rem;
  padding-inline: 3.2rem;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-secondary {
  background-color: transparent;
}

.btn-primary {
  color: white;
  background-color: var(--dark);
}

/* Logo  */
.logo {
  height: 5rem;
  width: 12.5rem;
}

/* Icons  */

.icon {
  height: 2.5rem;
  width: 2.5rem;
  stroke: #4c286e;
}

.social {
  background-color: white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.app {
  background-image: url('../../assets/images/simplehomepage-small.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}